<h1 style="color: green">Modificar persona</h1>

<%= render "form", persona: @persona %>

<br>

<div>
  <%= link_to "Ver esta persona", @persona, style: "text-decoration:none" %> |
  <%= link_to "Volver", personas_path, style: "text-decoration:none" %>
</div>
